<%- include("partials/header") %>

<body>
  
  <h1 class="heading"><%= heading %> </h1>
  <div class="movieCardArea">
    <% for(let item of movieData) { %> <% if (item.media_type !== "person") { %>
    <div class="card" style="width: 18rem;">
      <img src="http://image.tmdb.org/t/p/w600_and_h900_bestv2/<%= item.poster_path %>" class="card-img-top" alt="poster.img">
      <div class="card-body">
        
        <% if (item.title) { %>
          <h5 class="card-title"><%= item.title %></h5>
          <a href="/movies/m-<%= item.id %>" class="btn btn-primary btn-more">View More</a>
          <% } else { %>
          <h5 class="card-title"><%= item.name %></h5>
          <a href="/movies/s-<%= item.id %>" class="btn btn-primary btn-more">View More</a>
          <% } %>
      </div>
    </div>
    <% } %> <% } %>
  </div>
</body>
<%- include("partials/footer") %>
